@model GC2WH2.Models.StatusModel

@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var whSetClass = Model.BotWebhookSet ? "success" : "danger";
    var whSetTitle = Model.BotWebhookSet ? "Online" : "Offline";
}

    <div>
        <div class="card border-@whSetClass bg-@whSetClass mb-3" style="max-width: 30rem;">
            <div class="card-header">GolfBot - @whSetTitle</div>
            <div class="card-body">
                <p class="card-title font-weight-bold">@Html.DisplayNameFor(model => model.PendingUpdates)</p>
                <p class="card-text">@Html.DisplayFor(model => model.PendingUpdates)</p>
                PendingUpdates
                <p class="card-title font-weight-bold">@Html.DisplayNameFor(model => model.LastErrorDate)</p>
                <p class="card-text">@Html.DisplayFor(model => model.LastErrorDate)</p>

                <p class="card-title font-weight-bold">@Html.DisplayNameFor(model => model.LastErrorMessage)</p>
                <p class="card-text">@Html.DisplayFor(model => model.LastErrorMessage)</p>

                <p class="card-title font-weight-bold">@Html.DisplayNameFor(model => model.MaxConnections)</p>
                <p class="card-text">@Html.DisplayFor(model => model.MaxConnections)</p>

                <p class="card-title font-weight-bold">@Html.DisplayNameFor(model => model.AllowedUpdates)</p>
                <p class="card-text">@Html.DisplayFor(model => model.AllowedUpdates)</p>

                <p class="card-title font-weight-bold">@Html.DisplayNameFor(model => model.BotLocationDbLastUpdated)</p>
                <p class="card-text">@Html.DisplayFor(model => model.BotLocationDbLastUpdated)</p>
                <div>
                    @if (Model.CanStartBot)
                    {
                        if (Model.BotWebhookSet)
                        {
                            <a class="btn btn-outline-primary">Start webhook</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" href='@Url.Action("StartBot")'>Start webhook</a>
                        }

                    }
                    @if (Model.CanStopBot)
                    {
                        if (Model.BotWebhookSet)
                        {
                            <a class="btn btn-warning" href='@Url.Action("StopBot")'>Stop webhook</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-warning">Stop webhook</a>
                        }

                    }
                </div>
            </div>
        </div>

        <div class="card border-@whSetClass bg-@whSetClass mb-3" style="max-width: 30rem;">
            <div class="card-header">GolfBot - Tests</div>
            <div>
                <p class="card-title font-weight-bold">@Html.DisplayNameFor(model => model.Tests.DBConnection)</p>
                <p class="card-text">@Html.DisplayFor(model => model.Tests.DBConnection)</p>
            </div>
            </div>
        </div>

    </div>
